body {position: absolute; padding: 10px; background-color:rgb(198, 198, 198); font-family: Helvetica Neue; font-weight: 100; width: 90%;}

div {  
  width: 1000px; 
  background-color: rgb(198, 198, 198); 
  margin: auto;}

  
p {background-color: ; text-align: left; margin: 0px}
h3 {color: rgb(6, 198, 124); font-weight: 400; font-size: 27px; text-align: left; padding-left: 40px; padding-right: 40px;}
h4 {color:rgb(6, 198, 124);text-align: center; text-transform: uppercase;}
h5 {color:rgb(255, 255, 255); text-align: left; padding-left: 10px; font-size: 15px; font-weight: 200}


.mov {text-align: center }
.Kh{color:white ; font-size: 25px; font-weight: 400; text-align: left; padding-left: 40px; padding-right: 40px;}
.USA {color:white ; -webkit-text-stroke: 2px black; text-align: center; font-size: 100px; font-weight: 500; padding-top: 60px;}
.us{color:white ; font-size: 30px; font-weight: 400; text-align: left; padding-left: 40px; padding-right: 40px;}



a:visited {color: #000000;}
a:link {color: black;}
a:active {color: rgb(6, 198, 124)}

tr:hover {background-color: #666;}

.classes a:visited {color: #fff}
.classes a:active {color: rgb(255, 255, 255);}
.classes a:link {color: #fff}




#bar ul { display: none;}
#bar li:hover ul { display: block; }

#bar, #bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none ;
}
#bar li { float: left; }
#bar ul li { float: none; }


#bar ul {
  display: none;
  position: absolute;
  top: 100%;
}
#bar li {
  float: left;
  position: relative;
}
#bar { height: 30px; }

#bar ul {
  display: none;
  background-color: rgb(69, 171, 127);
  position: absolute;
  top: 100%;
}
#bar li:hover ul { display: block; }
#bar, #bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#bar {
  height: 30px;
  background-color: #666;
  padding-left: 240px;
  min-width: 470px;
}
#bar li {
  float: left;
  position: relative;
  height: 100%;
}
#bar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}
#bar ul li { float: none; }
#bar li:hover { background-color: rgb(6, 198, 124);}
#bar ul li:hover { background-color: #666; }


.image {
	position: relative;
  width: 100%; /* для IE 6 */
  }
  
  .image img {
    width: 900px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
  
  }

h1 {
	position: absolute;
	top: 200px;
	left: 220px;
	}
h1 span {
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    font-size: 60px;
    font-family: Helvetica Neue;
	line-height: 55px;
	padding: 10px 10px 10px 16px;
    }
    
    h2 {
        position: absolute;
        top: 260px;
        left: 110px;
        }
    h2 span {
        color:rgb(255, 255, 255);
        -webkit-text-stroke: 1px black;
        font-size: 60px;
        font-family: Helvetica Neue;
        line-height: 55px;
        padding: 10px 10px 10px 16px;
        }
        

        span {color: #666;}





.stat {text-align: center; font-size: 180%;}

.one {
  text-align: center;
  word-spacing: 220px;
   font-size: 180%;
   color:#fff;
 }

 .imgss img {height: 300px; width: 300px; }
 .imgss {text-align: center; }
 






table {
  border-width: 1px;  margin: auto;
  height: 450px ; width: 800px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 18px;
  text-align: left;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 0 5px rgb(6, 198, 124);
  color: rgb(255, 255, 255);
  }
  th {
  padding: 10px 8px;
  }
  table th:first-child {
  border-top-left-radius: 20px;
  }
  table th:last-child {
  border-top-right-radius: 20px;
  }
  td {
  border-top: 3px solid rgb(6, 198, 124);
  padding: 8px;
 }
  table td:first-child {
  border-bottom-left-radius: 20px;
  }
  table td:last-child {
  border-bottom-right-radius: 20px;
  }
  



  



  .lol {
    border: 1px solid white;
    height: 450px;
    width: 900px;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 3em;
    z-index: 1;
  }
  
  video {
    position: absolute;
    height: 450px;
    width: 900px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
  }
  
  







  .carousel {
    position: relative; /*Кнопки наличие??*/
    width: 800px; /* Ширина рамки*/
    padding: 20px 80px; /*Расположение картинок в рамке*/
   /* border: 1px solid #CCC; /*Рамка*/
    
  }
  
  .carousel img { 
    width: 270px;
    height: 400px;
   
    /* Размеры изображений // по умолчанию inline, в ряде браузеров это даст лишнее пространство вокруг элементов */
  
    display: block; /*????*/
  }
  
  .arrow {
    position: absolute; /*Кнопки по бокам*/
    top: 200px; /*Расположение относительно талицы*/
    padding: 0;
    background:rgb(142, 142, 142);
    border-radius: 15px; /*Форма кнопок*/
    border: 1px solid rgb(35, 216, 153);
    font-size: 24px;
    line-height: 24px;
    color: rgb(35, 216, 153);
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: rgb(35, 216, 153);
    cursor: pointer;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }
  
  .gallery {
    width: 810px; /*Высота данных в галерее*/
    overflow: hidden;
  }
  
  .gallery ul {
    height: 400px; /*Ширина данных в галерее*/
    width: 3600px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
  
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }










  .owl-carousel img {
    height: 600px; width: 950px; padding-left: 25px; 
  }
  
  .owl-carousel {display: inline}
  
  .owl-pagination {display: flex;}
  
  .owl-page {background-color: #666;}
  

  $(document).ready(function(){
	
    /* Находим блок карусели*/
    var carousel = $("#carousel");
  
    /* Запускаем плагин карусели*/
    carousel.owlCarousel();
  });
  .owl-wrapper-outer {
    border: 1px solid #777;
    border-radius: 5px;
    overflow: hidden;
    background: white;
  }
  
  /* 1 квадратик карусели */
  .carousel-element {
    padding: 30px;
    text-align: center;
    font-size: 300%;
    border-right: 1px solid #777;
  }




  .sketchfab-embed-wrapper iframe {width: 800px; height: 600px;}
  .sketchfab-embed-wrapper {text-align: center;}


  

  .contacs {
    font-size: 50px;
  }
  


  
